<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <center> 
    <title>Product-Brushes</title>
    <h1>Paint brushes Pack</h1>
    <div class="container-fluid" style="background:lightblue;">
    <img src="../static/brushpack.jpeg"></div>
    <p>these are sintstic paint brushes pack , by the compeny---</p>
    <h1>13$</h1>
    <div>
<a href= "{{url_for ('ebay')}}"> <button onclick ="backhome" style="background-color: lightblue;">Back to home page</button></a>
<a href= "{{url_for ('ebaycart')}}"> <button onclick ="gotocart" style="background-color: lightblue;">Go to cartS</button></a>
</div></center>

</head>
<body>

</body>
</html>